{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="flash flex-column bg-grey half-mwidth">
			{% for message in messages %}
				<b class="flash-text">{{ message }}</b>
			{% endfor%}
			</div>
		{% endif %}
	{% endwith %}
	<div id="edititem" class="form bg-grey half-mwidth flex-column">
		<form action="{{url_for('editTrack',
			artist_id = track.artist_id,
			album_id = track.album_id, track_id = track.id)}}"
			method='POST'>
			<div class="field">
				<label for="trackname">Track Name:</label>
				<input type="text" name='name' id="trackname"
				placeholder="{{track.name}}" value="{{track.name}}">
			</div>
			<div class="field">
				<label for="tracknumber">Track Number:</label>
				<input type="text" name='number' id="tracknumber"
				placeholder="{{track.num}}" value="{{track.num}}">
			</div>
			<input type="submit" value='Update'>
		</form>
		<form action="{{url_for('showTracklisting',
			artist_id = track.artist_id,
			album_id = track.album_id)}}">
			<input type="submit" value="Exit Without Saving">
		</form>
	</div>
</div>
{% endblock %}